In [1]:
num_points = 120
print(num_points)
#alternatively, you can just use num_points

120

In [2]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [3]:
#String variables can be declared either by using single or double quotes:
x = "John"
# is the same as
y = 'John'
print(x)

John

In [4]:
print(y)

John

In [5]:
# start with a number
location_data = 42.3601
# change to text
location_data = "Boston"
# change to a list of coordinates
location_data = [42.3601, -71.0589]
print(location_data)

[42.3601, -71.0589]

In [ ]:
print(x,y,location_data)

John John [42.3601, -71.0589]

In [7]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

c = d = e = "Orange"
print(c)
print(d)
print(e)

Orange
Banana
Cherry
Orange
Orange
Orange

In [11]:
# Good variable names for geospatial data
latitude = 42.3601
longitude = -71.0589
elevation = 147.2
city_name = "Boston"
population = 685094
coordinate_system = "WGS 84"
print(latitude, longitude, elevation, city_name, population, coordinate_system)

42.3601 -71.0589 147.2 Boston 685094 WGS 84

In [ ]:
num_features = 500
# Represents the number of features in a dataset (this is an integer, whole numbers)
latitude = 35.6895
# Represents the latitude of a point on Earth's surface. These are floating points (numbers with a decimal point)
longitude = 139.6917
# Represents the longitude of a point on Earth's surface. These are floating points.
is_georeferenced = True
# Boolean variable indicating whether the dataset is georeferenced (True or False)
coordinates = [
    35.6895, 
    139.6917,
    ]
# A list variable containing the latitude and longitude of a point (these are floating points)

In [1]:
feature_attributes = {
    "name": "Mount Fuji",
    "height_meters": 3776,
    "type": "Stratovolcano",
    "location": [35.3606, 138.7274],
}
# A dictionary variable containing various attributes of a geographic feature (string, integer, string, list)

In [3]:
print(feature_attributes)

{'name': 'Mount Fuji', 'height_meters': 3776, 'type': 'Stratovolcano', 'location': [35.3606, 138.7274]}

In [5]:
coordinate_system = "WGS 84"
# Represents the coordinate system used in the dataset (this is a string, text)

In [7]:
new_england = """New England is
a region consisting of six states in the Northeastern United States:
Maine, Vermont, New Hampshire, Massachusetts, Connecticut, and Rhode Island.
It is known for its rich history, beautiful fall foliage, and coastal towns.
Strings can be enclosed in single quotes, double quotes, or triple quotes. 
Use triple quotes for multi-line strings."""

In [8]:
coordinate_system

'WGS 84'

In [9]:
# Data Types - Casting (if data is interchangeable, you can cast a data type into another.)

In [10]:
# Casting
x = str (3)   # x will be '3'
y = int (4.744)   # y will be integer 4
z = float (5)   # z will be float 5
print(x, y, z)

3 4 5.0

In [11]:
# get the type
x=6
y="Kate"
print (type(x))
print (type(y))

<class 'int'>
<class 'str'>