In [19]:
num_points = 120
print(num_points)
#alternatively, you can just use num_points

120

In [20]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [21]:
#String variables can be declared either by using single or double quotes:
x = "John"
# is the same as
y = 'John'
print(x)

John

In [22]:
print(y)

John

In [23]:
# start with a number
location_data = 42.3601
# change to text
location_data = "Boston"
# change to a list of coordinates
location_data = [42.3601, -71.0589]
print(location_data)

[42.3601, -71.0589]

In [24]:
print(x,y,location_data)

John John [42.3601, -71.0589]

In [25]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

c = d = e = "Orange"
print(c)
print(d)
print(e)

Orange
Banana
Cherry
Orange
Orange
Orange

In [17]:
# Good variable names for geospatial data
latitude = 42.3601
longitude = -71.0589
elevation = 147.2
city_name = "Boston"
population = 685094
coordinate_system = "WGS 84"
print(latitude, longitude, elevation, city_name, population, coordinate_system)

42.3601 -71.0589 147.2 Boston 685094 WGS 84

In [16]:
num_features = 500
# Represents the number of features in a dataset (this is an integer, whole numbers)
latitude = 35.6895
# Represents the latitude of a point on Earth's surface. These are floating points (numbers with a decimal point)
longitude = 139.6917
# Represents the longitude of a point on Earth's surface. These are floating points.
is_georeferenced = True
# Boolean variable indicating whether the dataset is georeferenced (True or False)
coordinates = [
    35.6895, 
    139.6917,
    ]
# A list variable containing the latitude and longitude of a point (these are floating points)

In [1]:
feature_attributes = {
    "name": "Mount Fuji",
    "height_meters": 3776,
    "type": "Stratovolcano",
    "location": [35.3606, 138.7274],
}
# A dictionary variable containing various attributes of a geographic feature (string, integer, string, list)

In [3]:
print(feature_attributes)

{'name': 'Mount Fuji', 'height_meters': 3776, 'type': 'Stratovolcano', 'location': [35.3606, 138.7274]}

In [5]:
coordinate_system = "WGS 84"
# Represents the coordinate system used in the dataset (this is a string, text)

In [7]:
new_england = """New England is
a region consisting of six states in the Northeastern United States:
Maine, Vermont, New Hampshire, Massachusetts, Connecticut, and Rhode Island.
It is known for its rich history, beautiful fall foliage, and coastal towns.
Strings can be enclosed in single quotes, double quotes, or triple quotes. 
Use triple quotes for multi-line strings."""

In [8]:
coordinate_system

'WGS 84'

In [9]:
# Data Types - Casting (if data is interchangeable, you can cast a data type into another.)

In [10]:
# Casting
x = str (3)   # x will be '3'
y = int (4.744)   # y will be integer 4
z = float (5)   # z will be float 5
print(x, y, z)

3 4 5.0

In [11]:
# get the type
x=6
y="Kate"
print (type(x))
print (type(y))

<class 'int'>
<class 'str'>

In [ ]:
# Escape characters - insert characters that are illegal in a string
print("This is the first line. \n\tThis is the second line. It is indented.")

This is the first line.
	This is the second line. It is indented

In [13]:
print('What\'s your name?')
print("What's your name?")

What's your name?
What's your name?

In [14]:
# Comments are used to explain the code and make it more readable. They're for users, not for developers. But sometimes they can help developers understand the code better.
print('hello!') # in-line comment. everything after the # is ignored by Python.

hello!

In [15]:
def add_numbers(a,b):
    """Adds two numbers and returns the result.
    
    Parameters:
    
    a (int or float): The first number to add.
    b (int or float): The second number to add.
    
    Returns: int or float: The sum of a and b."""
    return a + b

# Example usage
result = add_numbers(5, 3)
print(result)  # Output: 8

8

In [26]:
num_features += 20
print("Updated number of features:", num_features)

Updated number of features: 520

In [27]:
import math
latitude = 35.6895
latitude_radians = math.radians(latitude)
print("Latitude in radians:", latitude_radians)

Latitude in radians: 0.6228992833905163

In [ ]:
# Adding new coordinates to the list using append() method

coordinates = [35.6895, 139.6917]
coordinates.append(34.0522) # Adding latitude for Los Angeles
coordinates.append(-118.2437) # Adding longitude for Los Angeles
print("Updated coordinates list:", coordinates)

Updated coordinates list: [35.6895, 139.6917, 34.0522, -118.2437]

In [31]:
# Accessing dictionary elements using the [] operator:
mount_fuji_name = feature_attributes["name"]
mount_fuji_height = feature_attributes["height_meters"]
print(f"{mount_fuji_name} is {mount_fuji_height} meters tall.")

Mount Fuji is 3776 meters tall.

# Exercise 1

In [ ]:
name="Arjav"
age=23
print(name, age)

# I am demonstrating my creativity by coming up with the most unique ideas for variables ever.

Arjav 23

In [5]:
is_a_good_student = True
print(is_a_good_student)

True

In [6]:
bags_of_candy = 10
print("I bought", bags_of_candy, "bags of candy today.")

I bought 10 bags of candy today.

In [ ]:
city_name = "San Francisco"
# convert to lowercase
city_lowercase = city_name.lower()
print("City name in lowercase:", city_lowercase)
# convert to uppercase
city_uppercase = city_name.upper()
print("City name in uppercase:", city_uppercase)
# convert to title case
city_title = city_name.title()
print("City name in title case:", city_title)

City name in lowercase: san francisco
City name in uppercase: SAN FRANCISCO
City name in title case: San Francisco

In [8]:
# Substitute parts of a string with new text:
original_city = "San Francisco"
new_city = original_city.replace("San", "Los")
print("Original city:", original_city)
print("New city:", new_city)

Original city: San Francisco
New city: Los Francisco

In [9]:
location_data = " Mount Everest "
# Remove whitespace from beginning and end
clean_location = location_data.strip()
print("Original:", location_data)
print("Cleaned:", clean_location)

Original:  Mount Everest
Cleaned: Mount Everest

In [10]:
# F-string formatting - process of evaluating string that has placeholders. Prefixed with an f to denote that it is meant to be interpreted.
# Basic f-string formatting with geographic data
location = "Mount Everest"
latitude = 27.9881
longitude = 86.9250
elevation = 8848  # in meters
# Simple variable insertion
location_info = f"Location: {location}"
print(location_info)
# Multiple variables
coordinates = f"Coordinates: ({latitude}, {longitude})"
print(coordinates)
# Complete geographic summary
summary = f"{location} is located at latitude {latitude} and longitude {longitude}, with an elevation of {elevation} meters."
print(summary)

Location: Mount Everest
Coordinates: (27.9881, 86.925)
Mount Everest is located at latitude 27.9881 and longitude 86.925, with an elevation of 8848 meters.

In [12]:
# f-strings can control how numbers are displayed

# controlling decimal places for coordinates
precise_lat = 40.712776
precise_lon = -74.005974
# Round to different decimal places
coords_2_places = f"Coordinates: ({precise_lat:.2f}, {precise_lon:.2f})"
coords_4_places = f"Coordinates: ({precise_lat:.4f}, {precise_lon:.4f})"
print(coords_2_places)
print(coords_4_places)
# Adding thousands separators for large numbers
population = 8336817
area_sq_km = 783.8
formatted_stats = f"NYC Population: {population:,}, Area: {area_sq_km:,.1f} km^2"
print(formatted_stats)

Coordinates: (40.71, -74.01)
Coordinates: (40.7128, -74.0060)
NYC Population: 8,336,817, Area: 783.8 km^2

In [13]:
# Concatenation - joining strings together using + operator
# Useful for building location descriptions, file paths, or combining separate pieces of information.

# Basic concatenation
data_folder = "geographic_data"
filename = "mountain_peaks.csv"
file_path = data_folder + "/" + filename
print(f"File path: {file_path}")

File path: geographic_data/mountain_peaks.csv

In [15]:
# Repetition is done using the * operator

location_name = "Mount Everest"
# Create visual separators
separator = "-" * 30
print(separator)
print("Geographic Data Report")
print(separator)
# Create formatted spacing
tab_space = " " * 4
print(f"Location:{tab_space}{location_name}")
print(f"Elevation:{tab_space}8848 meters")

------------------------------
Geographic Data Report
------------------------------
Location:    Mount Everest
Elevation:    8848 meters

In [16]:
# Get the length of a string using len() function
location_length = len(location_name)
print(f"The location name '{location_name}' has {location_length} characters.")

The location name 'Mount Everest' has 13 characters.

In [17]:
# Check if a string contains only letters or digits

city_name = "SanFrancisco"
print(f"Is '{city_name}' alphabetic?", city_name.isalpha())
# Check if a string contains only digits
zip_code = "94102"
print(f"Is '{zip_code}' numeric?", zip_code.isdigit())

Is 'SanFrancisco' alphabetic? True
Is '94102' numeric? True

In [ ]:
nyc_latitude = 40.7128
nyc_longitude = -74.0060
nyc_population = 8336817
nyc_area_sq_km = 783.8